{% extends "base.html" %}
{% block content %}
    <fieldset style='width: 150px;text-align: center'>
        <legend>Galery</legend>
        <form action="/gallery">
            <input type="submit" value="Gallery" style="width: 120px;">
        </form>
    </fieldset>
    <br>
   {% for cam in config.cameras %}
        <fieldset style='width: 150px; text-align: center;'>
            <legend>{{ config[cam].name }}</legend>
            <p>Is enabled: {{ state[cam].active }}</p>
            {% if state[cam].active %}
                <form action="/disarm/{{cam}}">
                    <input type="submit" value="Deactivate" style="width: 120px;">
                </form>
            {% else %}
                <form action="/arm/{{cam}}">
                    <input type="submit" value="Activate" style="width: 120px;">
                </form>
            {% endif %}
            <form action="/view/{{cam}}">
                <input type="submit" value="Snapshot" style="width: 120px;">
            </form>
        </fieldset>
        <br>
    {% endfor %}
    <br>
    <fieldset style='width: 150px;text-align: center'>
        <form action="/">
            <button type="submit" style="margin-top: 10px; width: 80%" formmethod="get">Home</button>
        </form>
    </fieldset>
{% endblock %}