{% extends "base.html" %}
{% block content %}
    <form action="/gallery">
        <div style="width=200; display: inline-block; text-align: center; background-color: E0E0E0">
            Camera:
            <select name="camera_filter" onchange='this.form.submit()'>
                <option value="all" {% if "all" == camera_filter %}selected{% endif %}>All</option>
                <option value="camera1" {% if "camera1" == camera_filter %}selected{% endif %}>Camera 1</option>
                <option value="camera2" {% if "camera2" == camera_filter %}selected{% endif %}>Camera 2</option>
                <option value="camera3" {% if "camera3" == camera_filter %}selected{% endif %}>Camera 3</option>
                <option value="camera4" {% if "camera4" == camera_filter %}selected{% endif %}>Camera 4</option>
                <option value="camera5" {% if "camera5" == camera_filter %}selected{% endif %}>Camera 5</option>
                <option value="camera6" {% if "camera6" == camera_filter %}selected{% endif %}>Camera 6</option>
            </select>
            &nbsp;Object:
            <select name="object_filter" onchange='this.form.submit()'>
                <option value="all" {% if "all" == object_filter %}selected{% endif %}>All videos</option>
                <option value="person" {% if "person" == object_filter %}selected{% endif %}>With persons</option>
                <option value="animal" {% if "animal" == object_filter %}selected{% endif %}>With animals</option>
                <option value="non-person" {% if "non-person" == object_filter %}selected{% endif %}>With NP object</option>
                <option value="any" {% if "any" == object_filter %}selected{% endif %}>With object</option>
            </select>
        </div>
    </form>

    {% for date in content %}
        <p>
            {{ date }}&nbsp;&nbsp;
            <a href="/movie/play_all/{{ date }}?camera_filter={{ camera_filter }}&object_filter={{ object_filter }}"><img src="/static/play.png" width="24" height="24"></a>
            <a href="/movie/play_all/{{ date }}?camera_filter={{ camera_filter }}&object_filter={{ object_filter }}&session_id={{ session_id }}"><img src="/static/share.png" width="24" height="24"></a>
        </p>
        {% for item in content[date] %}
            {{ item.title }}, {{ item.size }}&nbsp;&nbsp;
            <a href="/movie/download/{{ item.path }}"><img src="/static/download.png" width="24" height="24"></a>&nbsp;
            <a href="/movie/play/{{ item.path }}"><img src="/static/play.png" width="24" height="24"></a>
            <a href="/movie/play/{{ item.path }}?session_id={{ session_id }}"><img src="/static/share.png" width="24" height="24"></a>
            <br><br>
        {% endfor %}
        <p>--------------------------------------------</p>
        <br>
    {% endfor %}
{% endblock %}
