{% extends "base.html" %}
{% block content %}
    <fieldset style='width: 150px;text-align: center'>
        <legend>Gallery</legend>
        <form action="/gallery">
            <input type="submit" value="Gallery" style="width: 120px;">
        </form>
    </fieldset>
    <br>
    <fieldset style='width: 150px;text-align: center'>
        <legend>Systems</legend>
        <form action="/cameras">
            <button type="submit" style="margin-top: 10px; width: 80%" formmethod="get">Cameras</button>
        </form>
        <form action="/hss">
            <button type="submit" style="margin-top: 10px; width: 80%" formmethod="get">Security System</button>
        </form>
    </fieldset>
    <br>
    <fieldset style='width: 150px;text-align: center'>
        <legend>Logout</legend>
        <form action="/logout">
            <input type="submit" value="Logout" style="width: 120px;">
        </form>
    </fieldset>
{% endblock %}