flask==2.1.2
APScheduler==3.10.0
Flask-APScheduler==1.12.4
Werkzeug==2.3.7
opencv-python==4.8.1.78
numpy==1.23.5
pyyaml==6.0.1
requests==2.28.2
paho-mqtt==1.6.1
influxdb==5.3.1

# YOLO only requirements
# Base ----------------------------------------
# numpy==1.23.5
# opencv-python==4.8.1.78
# PyYAML>=5.3.1
# requests>=2.23.0
matplotlib==3.8.2
Pillow==10.2.0
scipy==1.11.4
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
protobuf==4.21.2

# Plotting ------------------------------------
pandas==2.1.4
seaborn==0.13.1

# Additional to prevent auto-install
psutil==5.9.7
tensorboard==2.15.1
ipython==8.19.0