flask==2.1.2
APScheduler==3.10.0
Flask-APScheduler==1.12.4
Werkzeug==2.3.7
opencv-python==4.8.1.78
numpy==1.23.5
pyyaml==6.0.1
requests==2.28.2
paho-mqtt==1.6.1
influxdb==5.3.1

# Required for YOLOv8 processing
ultralytics==8.0.237
onnx==1.15.0
openvino-dev==2023.3.0

# Required for YOLOv8 model export to OpenVINO
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.2+cpu
torchvision==0.16.2+cpu
